[2019-07-17 16:35] jmcshane opened #1 "Support send notification to Slack, RocketChat etc. using Webhooks"
It appears that the notification integration is set here:

https://github.com/brotandgames/ciao/blob/master/app/models/check.rb#L52

It would be great to be able to send a notification to a slack channel instead of an email based on specific configuration. I would be interested in helping here using https://github.com/slack-ruby/slack-ruby-client.

Is this something the project is willing to suppo

[2019-07-17 19:58] mterron commented on #1
Or a webhook? That is a more flexible solution for integration.

[2019-07-17 21:15] brotandgames commented on #1
@jmcshane @mterron Thanks for the comments.

Support for webhooks is on the roadmap.

@jmcshane Mind if we integrate Slack using webhooks? If you are eager to help us with this you're welcome.

[2019-07-18 00:55] kwent opened #3 "Rails Engine"
Hi,

Very good work!

Would be sick if we could mount this as a rails engine as well.

Regards

[2019-07-18 06:33] cbzxt opened #4 "Feature Request - Dashboard for multiple environments"
First of this is a really great tool. Thank you for creating it. I am using it for some time now and I have ~ 100 urls. We have 20 end points for 1 environment and total 5 environments.  Is there any possibility of implementing a dashboard feature where we can have tabs for each environment?

[2019-07-18 10:13] gnomus opened #6 "Persistent Storage Setup with Docker"
Currently the Database is stored withing the Container itself which means you loose all Data if your Container dies and the Orchestrator creates a new one.
This also prevents all Users from updating without loosing all Data.

Please move the Production SQLite into a Volume or provide an easy way to use MySQL/PostgreSQL

[2019-07-18 10:53] brotandgames commented on #6
As of now you won't loose your data if you backup the internal SQLite database in a certain interval.
A backup and restore (after crash, update) method could look something like this using Docker.
[code]
If you are using Kubernetes kubectl offers similar options.

It is planned to move the internal database into a Volume and a Helm Chart for Kubernetes is in development. Help would be appreciated.

[2019-07-18 16:56] jmcshane commented on #1
@brotandgames that's great.

Definitely willing to jump in a bit here. I like the simplicity of the way that your email integration is set up and that can be more challenging given the structure of a webhook. What would you think about a default JSON format with something that can be overridden based on a configuration file in the image? Then, an environment var could trigger webook (and disable e

[2019-07-18 20:52] brotandgames commented on #6
SQLite DB is stored in a subfolder `db/sqlite/` and the `VOLUME /app/db/sqlite` directive has been added to the Dockerfile to enable Docker volume usage. Merci @gnomus

Added Backup & Restore and Upgrade instructions in README.md.

[2019-07-18 20:52] #6 closed

[2019-07-18 21:30] brotandgames commented on #1
Shoud it be allowed to use more than one Notification target like Mail, Webhook::Slack or Webhook::RocketChat at the same time? Our opinion: yes.

As of now if you don't specify a `SMTP_ADDRESS` the Mailer configuration is not read thus no e-mails are sent. This approach would be preferred in the context of Webhooks.

Webhooks should somehow be configurable through ENV variables to stay in the [12

[2019-07-19 15:32] brotandgames commented on #1
Tested this a little bit:

`CIAO_WEBHOOK_PAYLOAD_*` ENV variable has to be a valid JSON one-liner wrapped in single quotes like `'{"text":"Example message"}'`.
[code]

This has been tested with RocketChat (with the above payload `$CIAO_WEBHOOK_PAYLOAD_1`)

[code]

@jmcshane Do you currently have a Slack channel where you could test this?

[2019-07-22 20:42] sebbean commented on #4
open a PR! @cbzxt

[2019-07-24 19:35] fdegraeve opened #14 "Timezone"
How we configure the timezone ?

I try to map with a volume "/etc/localtime" but is not working.

[2019-07-25 14:15] brotandgames commented on #14
Currently there is no possibility to set a custom timezone. It is set per default to UTC.
Setting a custom timezone through an ENVIRONMENT variable `TIME_ZONE` will be possible in the next release coming by next week.

[2019-07-25 15:10] brotandgames commented on #14
Released earlier than expected. Since version `1.2.0` you can configure a custom time zone (see README.md).

[2019-07-25 15:10] #14 closed

[2019-07-26 18:39] westonganger opened #15 "*/15 cron syntax not working"
Apparently ciao doesnt support the following cron format.

Ex. run something every 15 minutes

[code]

[2019-07-26 19:04] brotandgames commented on #15
Can you provide a screenshot of ciao not working with `*/15 * * * *` cron syntax?

Test:
<img width="801" alt="grafik" src="https://user-images.githubusercontent.com/43862266/61975177-bd04e980-afe8-11e9-9789-986251c2e52b.png">
<img width="794" alt="grafik" src="https://user-images.githubusercontent.com/43862266/61975207-cee68c80-afe8-11e9-8d6c-84f26b161304.png">

[2019-07-26 22:37] tareksamni opened #17 "SMTP over SSL is not working"
I tried to run Ciao and integrate it with Sendgrid. It did work perfectly but I got Timeout errors when the ActiveMailer tried to communicate with Sendgrid SMTP server.

After some investigations, I found that I need to set `ssl: true` in `action_mailer.smtp_settings` to support SMTP over SSL which is required by Sendgrid and probably any other reliable and save SMTP server.

[2019-07-26 23:23] tareksamni opened #19 "Support for Basic Auth"
Hi @brotandgames, I suggest to natively support Basic Auth using env vars. So for example, if `BASIC_AUTH_USERNAME` is defined then we enable basic auth authentication otherwise the application will be publicly available.

Something like:
[code]

Should be sufficient, simple and nice :) what do you think?

[2019-07-26 23:50] brotandgames commented on #17
- Registered an account with sendgrid.net
- Followed the https://sendgrid.com/docs/for-developers/sending-email/rubyonrails/ guide to setup ActionMailer
[code]
- Created a new Check
<img width="1178" alt="grafik" src="https://user-images.githubusercontent.com/43862266/61986361-0405d580-b00f-11e9-8c97-708f5f83ee17.png">

- E-Mail delivered as wanted

<img width="506" alt="grafik" src="https://user-

[2019-07-27 00:33] brotandgames commented on #17
Could you provide you configuration and logs from the application when ActionMailer tries to send an e-mail via Sendgrid?

[2019-07-27 00:45] #15 closed

[2019-07-27 07:13] tareksamni commented on #17
‘SMTP port: 25 or 587 for unencrypted/TLS email, 465 for SSL-encrypted email’

Try with port 587. It won’t work :)

[2019-07-29 07:55] brotandgames commented on #17
@tareksamni Since Sendgrid supports `STARTTLS` on Port 587 the connection is encrypted/secure.
Nevertheless we will have to support the use of SSL/TLS explicitly on port 465 (also for other SMTP servers/providers).

[2019-07-29 08:00] brotandgames commented on #17
Closed with #16

[2019-07-29 08:00] #17 closed

[2019-07-29 11:02] brotandgames commented on #19
@tareksamni

Yes, looks good :) Thank you for your proposals and contributions!

[2019-07-29 11:19] brotandgames commented on #19
Closed by #21.

[2019-07-29 11:19] #19 closed

[2019-07-29 14:48] tareksamni commented on #1
I can implement this in a simple dynamic way where the user will be able to CRUD multiple webhooks and the payload structure (basic templating) from the web UI. I can deliver it today evening!

Should I go forward or any opinions?

[2019-07-29 15:46] brotandgames commented on #1
@tareksamni The basic idea of ciao is to keep everything configurable per ENV variables.
The basic approach of having ENV variables like:
[code]
would be desirable.

Keeping ciao's configuration *stateless* is keeping it simple.

[2019-07-29 15:53] tareksamni commented on #1
Good, then we go with ENV variables `WEBHOOK_ENDPOINT_1`, `WEBHOOK_PAYLOAD_TEMPLATE_1`, `WEBHOOK_ACTION_1`.

Something like:

[code]

You can define multiple webhooks with this regex: `^WEBHOOK_(ACTION||ENDPOINT||PAYLOAD_TEMPLATE)_[0-9]+`

What do you think?

[2019-07-29 15:57] brotandgames commented on #1
Sound good.

We need an initializer `notification_webhooks.rb` that

- reads all `WEBHOOK_ENDPOINT_` variables,
- finds the corresponding  `WEBHOOK_PAYLOAD_` and
- instantiates an `WebhookNotification < Notification` object

Something like this:

`lib/ciao/notification.rb`
[code]

`config/initializers/notifications.rb`
[code]

[2019-07-29 16:01] tareksamni commented on #1
Yes, exactly what I had in mind :) but with slight templating abilities to the `PAYLOAD`. To generically support all webhooks based notifications so we do not have to implement different JSON structures for different systems.

[2019-07-29 16:02] brotandgames commented on #1
Perfect.

[2019-07-29 16:15] brotandgames commented on #1
@tareksamni @gnomus @mterron @jmcshane  Is this a good timing to open a chat like gitter.im for this project?

[2019-07-29 16:17] tareksamni commented on #1
YES YES YES! would be way easier to discuss features, implementation strategies, etc.

[2019-07-29 16:36] brotandgames commented on #1
Here we go: https://gitter.im/brotandgames/ciao

[2019-07-30 06:20] brotandgames commented on #1
@tareksamni
Why use mustache and not substitute a payload like this:
WEBHOOK_PAYLOAD_* contains `__check_name__`, `__status_after__`, `status_before__` and so on and is just substituted (gsub) before send with current values.

All WebhookNotification are instantiated in the initializer and saved in an Array (notifications).
On status change go through array and each.send|notify?

[2019-07-30 09:05] zeornelas opened #23 "Feature request - history for a given URL"
First of all congratulations for this tool.

It might be useful to have an history of calls made for each of the checks/URL.

[2019-07-30 09:37] brotandgames commented on #23
Having a history is not in the scope for this project.

However, it is planned to have a Prometheus endpoint `/metrics` in the future (on the Roadmap) where the metrics of all checks will be exposed.
You could then poll these Metrics with Grafana and build a Dashboard with History etc.

[2019-07-30 09:51] zeornelas commented on #23
Perfect, that would be very useful!

[2019-07-30 16:28] #23 closed

[2019-07-30 17:51] brotandgames commented on #1
@tareksamni Thank you for your great work!

Closed by #25.

[2019-07-30 18:16] #1 closed

[2019-08-01 01:11] punkeel opened #27 "Add documentation for the cron format"
Nice project, thanks!

The fugit library supports cron with seconds precision - and I think it would be useful if Ciao officially supported it.

Format: `*/15 * * * * *`

[Minimal demo](https://repl.it/@PunKeel/PerfumedMeanDistributeddatabase), similar to the way it's used by ciao [here](https://github.com/brotandgames/ciao/blob/afdbf8a2c5eea83a66cb0f32807ba310a75b38f2/app/validators/cron_validato

[2019-08-02 21:54] mahdi-hosseini opened #28 "Add option to turn off endpoint SSL/TLS certificate verification"
Thanks for making this available, it is a nice replacement for my homebrew Go-based pinger that I have been using.

I run some services that are for internal use and are either self-signed certified or signed by a local certificate authority and I would like to have the option to turn off certificate verification. Right now the endpoint check fails when it is unable to verify. It would be nice to

[2019-08-03 04:48] tareksamni commented on #28
This should be an easy to implement feature. I will open a PR today with the changes.

[2019-08-03 07:07] brotandgames commented on #28
@mahdi-hosseini Suppose you are using Docker to deploy ciao.
If the certificate store on the host is compatible with the guest (Docker container based on alpine Docker image), you can just mount it:
[code]
Would this solution work for you?

[2019-08-03 07:17] brotandgames commented on #28
@mahdi-hosseini If the host is not compatible with the guest you would have to mount the cert into `/usr/local/share/ca-certificates` and run `update-ca-certificates`before `./start.sh` like
[code]

[2019-08-03 08:27] tareksamni commented on #28
@brotandgames I think we should change:
[code]

in the docker file to:

[code]

Then he could run:

[code]

Which will run the passed CMD `update-ca-certificates` and the entrypoint as well `start.sh`

[2019-08-03 08:47] tareksamni commented on #28
@brotandgames https://github.com/brotandgames/ciao/pull/29 this is a simple change and provides more flexibility to target this issue.

[2019-08-03 08:48] brotandgames commented on #28
@tareksamni
From [StackOverflow](https://stackoverflow.com/questions/21553353/what-is-the-difference-between-cmd-and-entrypoint-in-a-dockerfile):

or

Would leave it as it is and what's wrong with just simply overriding the CMD?

[2019-08-03 08:55] tareksamni commented on #28
I use `ENTRYPOINT` as an "entry point" to bootstrap the environment for the application to run. For ex. to `rake db:migrate` or run any other dependencies. and then execute the CMD afterwords. This is a good practice and most of the docker public images are doing the same. It's not delivering or preventing and immediate value in our project now but it's a good practice to isolate the actual comman

[2019-08-03 09:05] brotandgames commented on #28
Don't agree. [Here](https://blog.codeship.com/understanding-dockers-cmd-and-entrypoint-instructions/) you can find a nice explanation.

[2019-08-03 09:16] tareksamni commented on #28
This explanation is exactly what I understand about `CMD` and `ENTRYPOINT` and that's why I was recommending using the `ENTRYPOINT`. It's offtopic anyway :)

Just examples from the open-source community:

https://github.com/docker-library/postgres/blob/master/Dockerfile-alpine.template
https://github.com/docker-library/redis/blob/master/5.0/Dockerfile
https://github.com/docker-library/rabbitmq/blo

[2019-08-03 09:29] brotandgames commented on #28
In your examples the `ENTRYPOINT` is used in another way than in the explanation above.
As you stated: it's off-topic anyway ;)

Want to keep the `start.sh` as it is and if someone needs to overwrite the `CMD` it's simple as shown [here](https://github.com/brotandgames/ciao/issues/28#issuecomment-517901990).

[2019-08-03 22:05] TheGamingBarrel opened #31 "Add an option to mark redirects as healthy"
For a lot of the services I run they redirect you to a login page or a dashboard if you're logged in etc, a feature to set redirects as a "healthy" option, hopefully per-check so that they don't appear as unhealthy in the overview would be greatly appreciated; if not just for reducing the heart attacks I have.

![1564869749](https://user-images.githubusercontent.com/9117223/62417236-ea821080-b642-

[2019-08-04 09:27] brotandgames commented on #31
There are no plans for a feature to set redirects as healthy. A check is per se only healthy if it returns something in the 2xx range.
Are there no options to set your url(s) to something that returns 2xx?

Btw. there are plans to have something like this in the overview/dashboard of ciao:

<img width="598" alt="grafik" src="https://user-images.githubusercontent.com/43862266/62421951-ac203c00-b6aa

[2019-08-04 09:39] TheGamingBarrel commented on #31
That would be a great addition not just for me but to quickly understand issues when you first load it up and I like the idea, I'll have a look at implementing a page on the services I control that doesn't get redirected though to help myself :P

Thanks, the HTTP Status overview provides enough clarity that I think I can close this and look forward to the update where this comes.

[2019-08-04 09:39] #31 closed

[2019-08-05 00:40] brotandgames commented on #31
@TheGamingBarrel Thank you for your inspiration to clarify what healthy and unhealthy means.

![grafik](https://user-images.githubusercontent.com/43862266/62431743-5ee3af00-b72a-11e9-90f4-b589f22cc601.png)

Here it is and it will be available with the next release.

[2019-08-06 14:28] brotandgames commented on #28
@mahdi-hosseini Did any of the solutions ([one](https://github.com/brotandgames/ciao/issues/28#issuecomment-517901389), [two](https://github.com/brotandgames/ciao/issues/28#issuecomment-517901990)) work for you?

[2019-08-06 20:47] brotandgames commented on #31
@TheGamingBarrel Released with 1.6.0.

[2019-08-07 00:55] mahdi-hosseini commented on #28
Yes, thank you for providing those tips!

[2019-08-07 00:55] #28 closed

[2019-08-07 04:43] lamarios opened #32 "Logs for email notification failure"
Is there any way to get logs on the email notifications ?

My email configuration isn't working and the logs aren't showing anything so it's difficult to fix.

[2019-08-07 04:51] lamarios commented on #32
Ok,my bad. It seems that the notification is sent only when the check status changes, not when failed.

[2019-08-07 04:51] #32 closed

[2019-08-16 04:29] KozakIvan opened #37 "Add ping to IP addresses"
Please add ping to IP addresses

[2019-08-16 11:03] KozakIvan opened #38 "Notify about new release"
Please, add new feature to notify about new release version

[2019-08-19 06:36] brotandgames commented on #37
@KozakIvan Could you elaborate a little more on what this is about?

[2019-08-19 06:39] brotandgames commented on #38
@KozakIvan You mean in the ciao Web UI like

ciao [1.6.0](https://brotandgames.com/ciao/) ([new release available](https://github.com/brotandgames/ciao/releases))

which will show the info inside the brackets only if new release is available?

[2019-08-19 06:40] brotandgames commented on #3
@kwent It is not in the scope of this project to be able to mount ciao as a Rails engine.

[2019-08-19 06:55] KozakIvan commented on #38
Notification via the selected notification system (smtp or webhook)

[2019-08-19 06:57] KozakIvan commented on #37
I mean, the availability of an IP address via ping

[2019-08-19 10:51] brotandgames commented on #37
This is not in the scope of this project.

[2019-08-19 21:06] kwent opened #39 "Creating a 'Deploy to Heroku' Button"
# Creating a 'Deploy to Heroku' Button

Cf. https://devcenter.heroku.com/articles/heroku-button

To facilitate deployments.

[2019-08-20 09:52] #3 closed

[2019-08-20 23:37] #37 closed

[2019-08-21 09:28] finneon opened #40 "URI.parse(@endpoint) gets error when using docker-compose"
[code]
E, [2019-08-21T07:07:01.102033 #1] ERROR -- : err46945276638420 0: /usr/local/lib/ruby/2.6.0/uri/rfc3986_parser.rb:67:in `split'
E, [2019-08-21T07:07:01.102106 #1] ERROR -- : err46945276638420 1: /usr/local/lib/ruby/2.6.0/uri/rfc3986_parser.rb:73:in `parse'
E, [2019-08-21T07:07:01.102158 #1] ERROR -- : err46945276638420 2: /usr/local/lib/ruby/2.6.0/uri/common.rb:234:in `parse'
E, [2019-08-2

[2019-08-21 09:30] finneon opened #41 "Ciao::Notifications::WebhookNotification#notify Could not notify webhook(https://hooks.slack.com/****/****) - Failed to open TCP connection to hooks.slack.com:443 (getaddrinfo: Try again)"
[code]

[2019-08-21 09:37] #41 closed

[2019-08-21 09:43] finneon opened #42 "Ciao::Notifications::WebhookNotification#notify Could not notify webhook(https://hooks.slack.com/****/****) - Failed to open TCP connection to hooks.slack.com:443 (getaddrinfo: Try again)"
[code]

[2019-08-21 12:29] finneon commented on #42
![Selection_003](https://user-images.githubusercontent.com/37215642/63431719-af0c8200-c449-11e9-9f87-b5338ef0e97d.png)
I double check and see that it can send the alert successfully, maybe my bad format of payload.

Regards
Jack Dao

[2019-08-21 12:29] #42 closed

[2019-08-21 21:05] brotandgames commented on #40
This is related to https://github.com/docker/compose/issues/2854 - see also [this Stack Overflow answer](https://stackoverflow.com/a/41988810).

Docker-compose section in the README will be updated with examples.

[2019-08-22 13:54] #40 closed

[2019-08-25 17:04] jasonadamyoung opened #47 "SMTP_ENABLE_STARTTLS_AUTO should be a boolean"
Hi!  I'm trying to setup ciao on a homelab kubernetes cluster - where I already have an in-house open mail relay that's just doing doing raw port 25, no-ssl (and in turn relays to an actual authenticated provider).

As far as I'm aware, the Action Mailer 'enable_starttls_auto' should be a boolean value - the docs indicate 'auto' which I don't think is valid (and thereby it just defaults to true in

[2019-08-26 09:10] brotandgames commented on #47
@jasonadamyoung Thanks for reporting.

Fixed and updated the README.

[2019-08-26 09:11] #47 closed

[2019-08-29 00:41] beeing opened #48 "Verify content of response body"
When server responded with 200, it will help to verify the content that is served, such as a text within the HTML or JSON.

This is quite common in most website uptime checks.

Thanks for sharing such project.

[2019-08-30 18:04] finneon opened #49 "ciao-scheduler still checks the deleted job"
**Describe the bug**
ciao-scheduler still checks status of destroyed job
**To Reproduce**
Steps to reproduce the behavior:

### 1. Create job to listen to a fake website https://www.brotandgames.com/ciaos/, ciao sent notification of status change to '404'
`I, [2019-08-30T17:48:42.059041 #1]  INFO -- : [aa51d8d0-17e6-489c-afe4-bfd555d37a7b] ciao-scheduler Created job 'cron_1567187322.0564888_473826

[2019-08-31 08:29] brotandgames commented on #49
@finneon Thanks for reporting.

WIll be fixed in the next release.

[2019-08-31 09:00] brotandgames commented on #49
Fixed in https://github.com/brotandgames/ciao/releases/tag/1.6.2

[2019-08-31 09:00] #49 closed

[2019-09-05 10:19] VadzimTarasiuk opened #50 "Telegram webhooks issue"
**Describe the bug**
I don't get any notifications from TG webhooks set as env variables in docker-compose.yml
[code]

When checked with curl I found
[code]
The command was pretty plain:
[code]

The messages are sending correctly when specify the json-content Header:
[code]

Could it be that I was needed to specify more params in docker-compose file to make notifications working?

[2019-09-05 10:50] finneon commented on #50
Check this https://github.com/brotandgames/ciao/issues/40

[2019-09-05 11:00] VadzimTarasiuk commented on #50
Great, thanks @finneon!
To be more precise I removed quotes at all as below and it worked.
[code]
Confusingly simple. Sorry for any troubles caused and have a nice day :)

[2019-09-05 11:00] #50 closed

[2019-09-05 11:06] brotandgames commented on #50
@VadzimTarasiuk @finneon Both solutions are wotking with `docker-compose`.
FYI There is also a note in the docs: https://github.com/brotandgames/ciao/blob/master/webhook_configuration.md#notes

[2019-09-05 11:13] brotandgames commented on #48
@beeing This is not in the scope of this project since ciao is a HTTP Status Code check tool.

[2019-09-05 11:13] #48 closed

[2019-09-05 12:43] andersonbc opened #51 "Quick Docker deploy error"
I try to deploy ciao 1.6.2 in Docker 18.06.0-ce but i receive the error:

"You may have encountered a bug in the Ruby interpreter or extension libraries.
Bug reports are welcome.
For details: https://www.ruby-lang.org/bugreport.html
Aborted (core dumped)"

Steps to reproduce the behavior:
1. Execute docker run --name ciao -p 8090:3000 brotandgames/ciao
4. See error

 - OS: CentOS Linux release 7.5

[2019-09-05 18:34] emalpb opened #52 "Openshift Yaml"
Yaml file for Openshift
It is a yaml file for RedHat Openshift which you can add to your repository to be used.

[code]

[2019-09-08 04:21] obromios opened #53 "Unable to run ciao on raspberry pi using docker"
**Describe the bug**
When I try to run ciao on a raspberry pi using docker, I see a linux error. I did not encounter the same problem on OSX

**To Reproduce**
After installing docker on a raspberry pi and then running ciao with
`
docker run --name ciao -p 8090:3000 brotandgames/ciao
`
I see the following error:
`standard_init_linuz.go:211 eexec user process caused "exec format error"
`

**Expected

[2019-09-10 14:15] brotandgames commented on #51
@andersonbc Could you provide a more detailed log (stack trace)?

[2019-09-10 21:28] fdegraeve commented on #51
I have the same error.
Version 1.6.0 is ok and If I want upgrade 1.6.1 or 1.6.2 I have the bug.

The last log:
7f58d3231000-7f58d3232000 rw-p 0034e000 08:01 587681 /usr/local/lib/libruby.so.2.6.3
10/09/2019 23:27:26 7f58d3232000-7f58d3241000 rw-p 00000000 00:00 0
10/09/2019 23:27:26 7f58d3241000-7f58d3256000 r--p 00000000 08:01 580858 /lib/ld-musl-x86_64.so.1
10/09/2019 23:27:26 7f58d3256000-7f58d

[2019-09-14 09:28] brotandgames commented on #51
Seems to be related to this commit https://github.com/brotandgames/ciao/commit/0e2be2851ff931020d296388265f33913f6cbbcf

Reverted in https://github.com/brotandgames/ciao/commit/2204f72312b41f8d2b672aab94d96f09bb6aa3fc and released version 1.6.3.

@andersonbc @fdegraeve Could you try version 1.6.3?

[2019-09-14 10:34] fdegraeve commented on #51
Thanks for your job, but I have the same error.

[2019-09-14 10:49] brotandgames commented on #51
@fdegraeve Could you please provide the whole log running
`docker run --name ciao -p 8090:3000 brotandgames/ciao:1.6.3` formatted as code like
[code]

[2019-09-15 02:19] thedxt commented on #51
@brotandgames same problem on Debian 10 and docker

[code]

Docker Version
[code]

[2019-09-15 09:59] brotandgames commented on #51
@thedxt Could not reproduce the error on a freshly installed Debian 10 with Docker 19.03.02
[code]

[2019-09-15 10:17] brotandgames commented on #51
Seems to be related to https://github.com/sass/sassc-ruby/issues/146 where a few users are reporting a similar issue (like @thedxt).
[code]

[2019-09-15 17:30] thedxt commented on #51
@brotandgames your Debian is slightly different than my install.

[code]

[2019-09-16 12:51] andersonbc commented on #51
@brotandgames, thanks;
But i tried to run the version 1.6.3 and i have the same error.

I put the complete log file in attached.
[ciao.log](https://github.com/brotandgames/ciao/files/3616292/ciao.log)

[2019-09-18 18:12] brotandgames commented on #51
Released 1.6.4 with sassc 2.2.1. Please try it.

[2019-09-19 07:01] brotandgames commented on #4
This is not in the scope of the project.

[2019-09-19 07:01] #4 closed

[2019-09-19 10:50] fdegraeve commented on #51
I have exactly the same error in 1.6.4

[2019-10-02 11:44] spfuture commented on #51
Same errors last worked version 1.6.0

uname -a
Darwin MackBookPro 17.7.0 Darwin Kernel Version 17.7.0: Sun Jun  2 20:31:42 PDT 2019; root:xnu-4570.71.46~1/RELEASE_X86_64 x86_64`

docker info
[code]

docker run --name ciao -p 8090:3000 brotandgames/ciao:1.6.4

[run.log](https://github.com/brotandgames/ciao/files/3680898/run.log)

[2019-10-09 09:33] brotandgames commented on #51
Released ciao 1.6.5 with sassc downgrade from 2.2.1 (ciao 1.6.4) to 2.0.1 (ciao 1.6.0).

`docker run --name ciao -p 8090:3000 brotandgames/ciao:1.6.5`

Please test it in your environments - hope it helps.

[2019-10-09 10:55] bykvaadm opened #59 "[helm] Liveness probe fails when basic auth is enabled"
**Describe the bug**
k8s tries to reach pod via http get method and gets 401 unathorized, then pod is killed by k8s.

**To Reproduce**
enable basic auth variables in env

**Expected behavior**
pod is ready to serve

**Additional context**
what should u do: (there may be some mistakes in code below, it is untested)

1. fix liveness probes in deployment

[code]
P.S. u should avoid using liveness and

[2019-10-09 11:58] PurpleBabar opened #60 "Favicon proposition"
Hey :)

Thanks for ciao, it's really simple and i love to use it ! :D
The only thing is I can't identify quickly ciao in a browser since there's no favicon :/ So i propose this favicon :) (I can send you the svg version if you'd like ;) )
![favicon-32x32](https://user-images.githubusercontent.com/7846095/66479433-c7d60300-ea9c-11e9-95f0-0f7d2a919672.png)

cheerz :)

[2019-10-09 16:24] bykvaadm opened #61 "socks5 proxy"
**Describe the solution you'd like**
Please add ability to send outcoming requests via [socks5] proxy

my workaround was to modify start.sh to run proxychains-ng, and it works fine

[2019-10-09 20:45] bykvaadm commented on #61
my workaround was to modify start.sh to run proxychains-ng, and it works fine

[2019-10-14 09:48] bykvaadm opened #62 "[helm] Fix liveness and readiness probes"
**Describe the bug**
U shoud add some variables to values.yaml, so we can manage liveness adnd readiness probes:

1. deployment.yaml

[code]

2.  set defaults in values.yaml

[code]

[2019-10-14 10:18] brotandgames commented on #59
@bykvaadm Thanks for reporting. The section _Additional context_ is not meant to be a place for problem solution. This is what a PR is for.

[2019-10-14 10:18] brotandgames commented on #62
@bykvaadm This seems to be a Feature Request not a Bug. You are free to open a PR for this.

[2019-10-14 10:19] brotandgames commented on #61
@bykvaadm This is not in the scope of this project.

[2019-10-14 10:19] #61 closed

[2019-10-14 10:22] brotandgames commented on #60
@PurpleBabar Thanks for your submission. Currently we are looking for a logo for ciao and the favicon should be similar :)
Can we chat on gitter?

[2019-10-14 10:24] brotandgames commented on #53
@obromios There is currently no Docker build for ciao on Arm.

We are open for PRs.

[2019-10-14 10:48] PurpleBabar commented on #60
Yup :) I'm available there :)

[2019-10-14 12:24] bykvaadm commented on #62
https://github.com/brotandgames/ciao/pull/63

[2019-10-14 12:24] #62 closed

[2019-10-14 17:17] brotandgames commented on #59
Closed by #63

[2019-10-14 17:17] #59 closed

[2019-10-15 12:04] andersonbc commented on #51
@brotandgames the version 1.6.5 works fine.

[2019-10-15 12:04] #51 closed

[2019-10-16 12:33] thedxt commented on #51
1.6.5 also works for me

[2019-10-18 08:39] serge1peshcoff opened #64 "Add a metric with service level and it's response"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
We plan to use ciao in our project and it's metrics in prometheus, to create alerts. There is a number of unhealthy services in metrics, but it's impossible to understand which service is faulty.

**Describe the solution you'd like**
A clea

[2019-11-04 04:36] HAndy2013 opened #65 "remove quotes in placeholders"
Hi, ^_^
I'm using docker-compose, and here is my yml file
[code]

my webhook will parse request payload to json object, but [__status_before__] and [__status_after__]  will contains quotes when my web-proxy is shutting down , for example: "Failed to open TCP connection to 200.1.3.19:8200 (Connection refused - connect(2) for "200.1.3.19" port 8200)", and this causes parsing failed.

[2019-12-03 01:49] mclate commented on #64
This one is needed for sure. Without this one prometheus metrics are quite useless.

[2019-12-19 13:01] brotandgames commented on #64
@serge1peshcoff Thank you for your proposal. It would be nice if you can find time to implement it.
Should we schedule a small chat (gitter) or audio call (gmail) to design the feature?

[2020-01-15 12:58] qlaffont-md opened #69 "Response time"
**Describe the solution you'd like**
Display Response time by link checked. (Average 5min / 1h / 1d / 7d)

**Describe alternatives you've considered**
Only showed in prometheus metrics

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-03-31 18:51] vinaykapadia opened #72 "Access via SSL HTTPS"
**Is your feature request related to a problem? Please describe.**
I can only access Ciao via HTTP.

**Describe the solution you'd like**
I can access Ciao via HTTPS and give it a certificate to use.

**Describe alternatives you've considered**
A reverse proxy maybe, but that seems excessive.

[2020-04-02 09:49] brotandgames commented on #72
Hi @vinaykapadia,
It's not in the scope of this project to manage SSL/TLS certificates. You can use a reverse proxy like nginx, Traefik etc. for SSL/TLS offloading.

[2020-04-02 09:49] #72 closed

[2020-04-02 09:54] brotandgames commented on #65
Hi @HAndy2013,
Could you provide more logs or did you solve the problem?

[2020-04-27 15:51] allenlyk opened #74 "Relative Path"
**Is your feature request related to a problem? Please describe.**
I am currently hosting Ciao at xxx.com/yyyy/ . The /checks (and other page links in the page) and links to css/js/woff/tiff seems not relative. Because even though I am able to make the page load at xxx.com/yyyy/ but the /checks and css/js/woff/tiff still refers to xxx.com/checks for example.

**Describe the solution you'd like**
M

[2020-05-07 06:18] Alex-Beta opened #75 "Timeout setting for checking"
i'm often recived message from ciao like below while the service is not broken
`domain checker, [07.05.20 08:46]
[test.domain.com] Status changed from (200) to (execution expired)}

domain checker, [07.05.20 08:46]
[test.domain.com] Status changed from (execution expired) to (200)}`

I assume that this is due to the remoteness of the web server from the ciao service

I would like to set the connec

[2020-05-14 14:55] #69 closed

[2020-05-21 03:32] openbytes opened #76 "web ui auto refresh?"
I find the web ui can't auto refresh.

[2020-05-21 11:47] PhrantiK commented on #75
I'm getting false positives too:

Email:

from: 200
to: Failed to open TCP connection to mydomain.com:443 (getaddrinfo: Try again)

From the container:

~ # wget -S https://mydomain.com -O /dev/null
Connecting to mydomain.com (x.x.x.x:443)
  HTTP/1.1 200 OK

[2020-05-27 09:13] openbytes opened #78 "can't send mail"
**Describe the bug**
I start the service use docker-compose
[code]
then I start the service,but can't send mail. I use python script use this mail config can send mail

[code]

[2020-05-29 21:39] sebw commented on #75
Same. I'm running ciao to monitor neighbouring containers. For one container I have to monitor through the frontend (backend service is on a selfsigned cert) and this fails a lot multiple times a day.

Same goes for my NAS monitoring that was almost never failing with statping. Every day I get multiple false positives.

[2020-07-01 01:58] Jimmyjim123 opened #83 "error converting YAML to JSON: yaml: line 12: did not find expected key"
Hello im having trouble running the YAML file. Everytime i run the file, i get an error stating that it did not find expected key.

    `apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
---
apiVersion: v1
kind: Secret
metadata:
  name: ciao
  namespace: monitoring
data:
  BASIC_AUTH_USERNAME: YWRtaW4=
  BASIC_AUTH_PASSWORD: cGFzc3dvcmQ=
---
apiVersion: apps/v1
kind: Deployment
metadata:

[2020-07-14 21:24] brotandgames commented on #74
This feature is not in the scope of this project.

[2020-07-14 21:24] #74 closed

[2020-07-14 21:26] brotandgames commented on #65
Issues are closed after 6 months of inactivity.

[2020-07-14 21:26] #65 closed

[2020-07-20 17:34] limitlessbritt opened #86 "Gotify Notification not sending."
When i try to add gotify as a webhook it doesn't send any messages and I don't see any info about in the logs

here are env settings I used:
CIAO_WEBHOOK_ENDPOINT_GOTIFY=http://gotify.me/message
CIAO_WEBHOOK_PAYLOAD_GOTIFY='{"Content Type":"application/json", "message": "[ciao] __name__: Status changed (__status_after__)", "priority": 2, "title": "Service Check", "token": "token" }'

I'm running d

[2020-09-17 13:46] xgrei opened #87 "Can it support monitoring of specified URLs through http or socks proxy?"
**Is your feature request related to a problem? Please describe.**
Some of the URLs I want to monitor can only be accessed through a proxy

**Describe the solution you'd like**
 such as an undisclosed company internal website

**Describe alternatives you've considered**
No alternatives found yet

**Additional context**
none

[2020-09-18 08:06] brotandgames commented on #87
@xgrei This is not in the scope of this project.

See https://github.com/brotandgames/ciao/issues/61

[2020-09-18 08:06] #87 closed

[2020-09-28 11:03] vaclandic commented on #86
same issue, but with telegram webhook

[2020-09-30 20:47] sebw commented on #86
Works for me by passing the token in the URL:

[code]

[2020-09-30 20:49] sebw opened #88 "Disable certificate verification"
I want to monitor things on my home network and some devices use self-signed certificates.

It would be nice to be able to disable certificate validation per check.

[2020-10-01 14:25] brotandgames commented on #88
@sebw This is not in the scope of this project.

Possible solution(s) for your usecase: https://github.com/brotandgames/ciao/issues/28#issuecomment-517901389

[2020-10-01 14:32] brotandgames commented on #86
@limitlessbritt Does https://github.com/brotandgames/ciao/issues/86#issuecomment-701636196 work for you?

@vaclandic Did you follow the example in https://github.com/brotandgames/ciao/blob/master/webhook_configuration.md#telegram?

@sebw Thanks for posting this Gotify example. You are free to submit a PR with your example configuration.

[2020-10-01 14:37] vaclandic commented on #86
i am using nomad for docker orchestration
and for me work this solution:
[code]

[2020-10-01 14:44] brotandgames commented on #88
Duplicate of #28

[2020-10-01 14:44] #88 closed

[2020-10-01 14:46] brotandgames commented on #75
@Alex-Beta _Connection timeout setting_ is not in the scope of this project.

[2020-10-01 14:46] #75 closed

[2020-10-01 14:49] brotandgames commented on #83
@Jimmyjim123 Did you find a solution for your problem? If not, please open a new Issue (Bug report) with respect to the template and proper formatting. Don't forget to remove any passwords etc. from your logs, code etc.

[2020-10-01 14:49] #83 closed

[2020-10-01 16:43] sebw commented on #75
No offense intented but what is actually in the scope of this project? Because connection timeout tuning or disabling TLS verifications are valid use cases in the real world.

[2020-10-12 05:12] Alex-Beta commented on #75
So how do i avoid false positive alerts stay _in the scope of this project_?

[2020-11-05 04:30] vumdao opened #90 "Cron does not work correctly at time setting"
**Describe the bug**
Setting cron to health check daily at specific time setting does not work correctly
![image](https://user-images.githubusercontent.com/37215642/98197788-1f71c700-1f5a-11eb-9399-4c1cd88512a9.png)
![image](https://user-images.githubusercontent.com/37215642/98197820-31ec0080-1f5a-11eb-802e-845de82b5c37.png)

ciao 1.6.10

[2020-11-05 08:49] brotandgames commented on #90
Please read the docs: https://github.com/brotandgames/ciao#configuration

[2020-11-06 10:03] vumdao commented on #90
@brotandgames As you see I set the time zone is UTC and expect the sc

[2020-11-06 10:03] #90 closed

[2020-12-12 19:03] progressify opened #92 "Mobile app for android/iOS"
Have you in mind to create a mobile app for Ciao server?

[2020-12-13 17:40] progressify commented on #78
I think I have the same problem. I have configured my mailjet account and I have disabled one of my vhost for obtain a 404 error and fire the email, but I don't receive nothing!

[2021-01-21 20:14] nexeduapp commented on #53
Try this one

https://hub.docker.com/repository/docker/emaderito/ciao-rpi

[2021-01-24 05:26] juan11perez commented on #86
good day. Anyone has had any luck using gotify with docker compose. I see the note on the post by sebw, but that does not work with compose.
Thank you

[2021-01-24 19:12] abuisman commented on #53
You can build the image on your raspberry. I needed to make some changes before it would build to begin with:

https://github.com/brotandgames/ciao/pull/93

[2021-03-22 19:34] CorneliousJD opened #95 "Feature Request ICMP (Ping) to IP or hostname."
**Is your feature request related to a problem? Please describe.**
Right now this is only able to monitor HTTP status, I have plenty of services I would like to monitor that do not have HTTP pages.

**Describe the solution you'd like**
Would like the ability to monitor just if a host is alive with ICMP ping commands, either up if it returns a reponse (perhaps also documenting latency) or down/fail

[2021-06-24 11:50] #27 closed

[2021-07-16 17:39] friedelinehustenkraehe commented on #39
Maybe a [Deploy to DigitalOcean](https://docs.digitalocean.com/products/app-platform/how-to/add-deploy-do-button/) button additionally would be comfortable too. 🤔

[2021-10-16 23:12] grand-lotus-iroh opened #117 "please add a demo"
may you please add a demo link?

[2021-12-13 19:58] brotandgames commented on #53
Ciao (> 1.6.13) is now available for arm/v7 and arm64:

https://hub.docker.com/r/brotandgames/ciao/tags

![grafik](https://user-images.githubusercontent.com/43862266/145879326-ddf1ae26-bc2e-4a8a-8d66-f5b698716e8f.png)

[2021-12-13 19:58] #53 closed

[2021-12-13 20:03] brotandgames commented on #38
Closed this Issue because of inactivity.

[2022-01-19 19:42] brotandgames commented on #39
@friedelinehustenkraehe @kwent

We're open for Pull requests.

[2022-03-30 11:03] eleminer commented on #78
same problem. :/ probably i make a mistake in the configuration?

[2022-04-03 07:12] brotandgames opened #129 "Docker build on linux/arm* fails"
**Describe the bug**

Docker build on linux/arm* fails

[code]

Build for arm is currently disabled: [Build only for linux/amd64 because linux/arm* currently broken](https://github.com/brotandgames/ciao/commit/ea8cd9a5328eddaa467a7848ade08a68d313fcab)

**To Reproduce**

See GitHub Action run https://github.com/brotandgames/ciao/runs/5795452795?check_suite_focus=true

**Expected behavior**

Docker

[2022-04-03 20:50] brotandgames commented on #129
Fixed in version 1.7.0 https://github.com/brotandgames/ciao/commit/cda0afd66a4cae62bb01f5aa3395306905969c47.

[2022-04-03 20:50] #129 closed

[2022-04-04 10:56] JKetelaar opened #130 "Running on M1 fails to start"
**Describe the bug**
Run the command on a MacBook M1 (Max)
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Ensure Docker is running
2. Execute `docker run --name ciao -p 8090:3000 brotandgames/ciao`
3. See error

**Expected behavior**
No error and running

**Desktop (please complete the following information):**
 - OS: MacOS 12.3

**Additional context**
Log: https://gist.github.com/JK

[2022-04-04 20:34] brotandgames commented on #130
Hi @JKetelaar,

Could you please try with the new 1.7.1 docker image?

`docker run --name ciao -p 8090:3000 brotandgames/ciao:1.7.1`

[2022-04-04 20:45] JKetelaar commented on #130
Works like a charm! Thanks!

[2022-04-04 20:45] #130 closed

[2022-04-26 22:09] mihsergeev opened #132 "multiple checks"
Hello, can you add several checks, for example, in a minute and only if the statuses match - send an alert, because there are a lot of false positives ?

[2022-05-07 15:24] seth-shi opened #133 "webhook is no work"
**Describe the bug**
webhook is no work

**To Reproduce**
my docker-compose file
version: "3"
services:
  ciao:
    image: brotandgames/ciao
    container_name: status_ciao
    ports:
      - '8090:3000'
    environment:
      - SECRET_KEY_BASE=seth
      - TIME_ZONE=PRC
      - BASIC_AUTH_USERNAME=xxxx
      - BASIC_AUTH_PASSWORD=xxxxx
      - CIAO_WEBHOOK_ENDPOINT_1=http://172.27.0.13:9000/wecom

[2022-05-11 14:04] fuadnafiz98 opened #134 "Ability to check the status of redirected URL."
**Is your feature request related to a problem? Please describe.**
Sometimes the URL is redirected to another URL, Is there any way to check the status of that redirected URL and if the redirected URL is alive or not?

[2022-07-24 20:21] danionescu2007 opened #139 "ignore the ssl certificate errors so that sites with self-signed certificates can be checked for availability"
**Is your feature request related to a problem? Please describe.**
the checks against https with a self-signed certificate fails.

**Describe the solution you'd like**
ignore the ssl certificate validation so that those check will check the connection/availability of the service, not the certificate

**Describe alternatives you've considered**
ignore the ssl certificate errors

**Additional contex

[2022-10-09 19:17] brotandgames commented on #139
Duplicate of #28.

Ignoring SSL certificate errors is not in the scope of this project. There are ways to let ciao trust self-signed certificates, one of them described in this comment https://github.com/brotandgames/ciao/issues/28#issuecomment-517901990.

[2022-10-09 19:17] #139 closed

[2022-10-09 19:18] brotandgames commented on #134
This is not in the scope of this project.

As an alternative you can point the check to the redirected URL.

[2022-10-09 19:18] #134 closed

[2022-10-09 19:20] brotandgames commented on #133
Are you still having this problem? If so, could you please add logs from ciao?

[2022-10-09 19:20] #132 closed

[2022-10-12 06:35] #133 closed

[2022-11-18 09:27] brotandgames commented on #95
ciao is made/designed to check HTTP(S) URL endpoints only thus ICMP (ping) is not in the scope of this project.

[2022-11-18 09:27] #95 closed

[2022-11-18 10:13] brotandgames commented on #92
No, the Web UI is designed for mobile, tablet and Desktop.

[2022-11-18 10:13] #92 closed

[2022-11-20 15:31] brotandgames commented on #60
Added basic favicon in https://github.com/brotandgames/ciao/commit/22e7340d545adb58e97174d479351110c80aba8e just to make ciao more visible in between open tabs.

[2022-11-20 15:31] #60 closed

[2022-11-20 15:36] brotandgames commented on #78
Closed as stale

[2022-11-20 15:36] #78 closed

[2022-11-20 15:37] brotandgames commented on #86
Closed as stale

[2022-11-20 15:37] #86 closed

[2022-11-20 15:38] brotandgames commented on #117
Closed as stale

[2022-11-20 15:38] #117 closed

[2022-11-20 15:41] brotandgames commented on #76
This can be accomplished with a Browser plugin if needed.

[2022-11-20 15:41] #76 closed